<footer class="page-footer font-small rodapebackground pt-4">

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="sublinhado-gradiente fonte-cinza-claro fw-bold pb-2">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row pt-4 pb-0 d-flex align-items-center">

            <div class="col-md-3">
                <ul class="d-flex flex-column align-items-start pb-0">
                    <li class="d-flex align-items-center fonte-cinza-claro">
                        <a href="https://www.linkedin.com/in/caio-gabriel-alves-36620a181/" target="_blank"
                            class="icoGitHub ">
                            <i class="fa fa-linkedin-square tamanho-icone pe-0 fonte-cinza-claro"
                                aria-hidden="true"></i>
                        </a>
                        <a href="https://github.com/CaioGabrielAlves" target="_blank" class="icoGitHub">
                            <i class="fa fa-github tamanho-icone fonte-cinza-claro" aria-hidden="true"></i>
                        </a>
                        <p class="mb-0">Caio Gabriel Alves</p>
                    </li>
                    <li class="d-flex align-items-center">
                        <a href="https://www.linkedin.com/in/gustavogalli/" target="_blank" class="icoGitHub">
                            <i class="fa fa-linkedin-square tamanho-icone pe-0 fonte-cinza-claro"
                                aria-hidden="true"></i>
                        </a>
                        <a href="https://github.com/gustavogalli" target="_blank" class="icoGitHub">
                            <i class="fa fa-github tamanho-icone fonte-cinza-claro" aria-hidden="true"></i>
                        </a>
                        <p class="mb-0 fonte-cinza-claro">Gustavo Galli</p>
                    </li>
                    <li class="d-flex align-items-center">
                        <a href="https://www.linkedin.com/in/jo%C3%A3o-marcos-6391b718b/" target="_blank"
                            class="icoGitHub">
                            <i class="fa fa-linkedin-square tamanho-icone pe-0 fonte-cinza-claro"
                                aria-hidden="true"></i>
                        </a>
                        <a href="https://github.com/joao295" target="_blank" class="icoGitHub">
                            <i class="fa fa-github tamanho-icone fonte-cinza-claro" aria-hidden="true"></i>
                        </a>
                        <p class="mb-0 fonte-cinza-claro">João Marcos Almeida</p>
                    </li>
                    <li class="d-flex align-items-center">
                        <a href="https://www.linkedin.com/in/raphaellaguerra/" target="_blank" class="icoGitHub">
                            <i class="fa fa-linkedin-square tamanho-icone pe-0 fonte-cinza-claro"
                                aria-hidden="true"></i>
                        </a>
                        <a href="https://github.com/itzRapha" target="_blank" class="icoGitHub">
                            <i class="fa fa-github tamanho-icone fonte-cinza-claro" aria-hidden="true"></i>
                        </a>
                        <p class="mb-0 fonte-cinza-claro">Raphaella Guerra</p>
                    </li>

                </ul>

            </div>

            <div class="col-md-7"></div>

            <div class="col-md-2">
                <a href="https://brazil.generation.org/" target="_blank">
                    <img src="../../assets/img/logo-gen-110.png" alt="Logo da Generation Brasil" height="70px">
                </a>
            </div>
        </div>

        <div class="row pt-0">
            <div class="col-md-12">
                <div class="footer-copyright text-center py-3 rodapebackground">
                    <a href="https://github.com/gustavogalli/gen-projetoIntegrador-frontend-2" target="_blank"
                        class="fonte-cinza-claro"><img class="tamanho-icone-ti" src="../../assets/img/logo.png"
                            alt="Ícone da Gen.TI"></a>
                </div>
            </div>
        </div>
    </div>
</footer>