ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa {
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-linkedin-square:hover{
    color:#ffd700;
}

.fa-github:hover{
    color:#ffd700;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a {
    color: rgb(0, 0, 0);
text-decoration-line: none;  
}


.sublinhado-gradiente{
    background-image: linear-gradient(90deg, #ffd700,#ffd700);
    background-repeat: no-repeat;
    background-size: 0% 3px;
    background-position: bottom;
    transition: background-size 500ms ease;
    cursor:pointer;
    text-decoration:none;
    font-weight:600;

  }
  
  .sublinhado-gradiente:hover{
    background-size: 100% 3px;
  }
  

  html, body {
    margin: 0;
    padding: 0;
}

.margem{
    margin-top: 40px;
    margin-right: 20px;
}


.margem{
    margin-top: 40px;
    margin-right: 20px;
}



.col-md-4{
    background-color: white;
    border-radius: 35px;
    
    width:  319px;
    height: 493px;
  

  
}


.bottomright {
    position: absolute;
    bottom: 190px;
    right: 50px;
    font-size: 18px;
}


.font{
    font-family: 'Poppins', Bold 700 sans-serif;
    font-size: 50px;
    margin-bottom: 40px;

    }






.bottomcolor{
    margin-top: 30px;
    width: 250px;
    background-color: #ffd700
    
}

.bottomfont{
font-weight:600;

}


.ml-1{

    margin-right: 90px;
     

    }


.ml-2{

    margin-right: 140px;
    
 }





.rodapebackground {
    background-color: #0C0C0D;
}

.mr-1{

    margin-left: 50px;
    margin-top: 15px;
     

    }

    
    

.logo{
    height: 50px;
}

.fundo-nav{
    background-color: #0C0C0D;
}

.font-navbar{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
 
}



.fonte-menu{
    font-size: 15px;
}

.tamanho-icone{
    font-size: 20px;
}

.tamanho-icone-ti{
    height: 30px;
}

.fonte-cinza-escuro {
    color: #1f1f22
}

.fonte-cinza-claro {
    color: #9e9ea1
}
