<div class="container-fluid" id="img-bg">
  <div class="row d-flex justify-content-center">
    <div class=" col-md-4 backgroundform d-flex justify-content-center align-items-center my-5">
      <form class="form-group">
        <div class="">
          <h2 class="font text-center mb-4">Cadastrar</h2>

          <div class="form-group">
            <!-- <label for="nome">Nome</label> -->
            <input [(ngModel)]='usuario.nome' class="form-control mb-3" type="text" name="nome" id="nome" placeholder="Digite seu nome completo">
          </div>

          <div class="form-group">
            <!-- <label for="usuario">Usuário</label> -->
            <input [(ngModel)]='usuario.usuario' class="form-control mb-3" type="text" name="usuario" id="usuario" placeholder="Crie seu usuário">
          </div>

          <div class="form-group">
            <!-- <label for="usuario">Link da foto</label> -->
            <input [(ngModel)]='usuario.foto' class="form-control mb-3" type="text" name="link-foto" id="link-foto" placeholder="Insira uma URL para sua foto">
          </div>

          <div class="form-group">
            <!-- <label for="usuario">Link da foto</label> -->
            <input [(ngModel)]='usuario.resumo' class="form-control mb-3" type="text" name="link-foto" id="link-foto" placeholder="Insira uma URL para sua foto">
          </div>


          <div class="form-group">
            <!-- <label for="usuario">Link da foto</label> -->
            <input [(ngModel)]='usuario.numero' class="form-control mb-3" type="text" name="link-foto" id="link-foto" placeholder="Insira uma URL para sua foto">
          </div>

          <div class="form-group">
            <!-- <label for="senha">Senha</label> -->
            <input (input)='confirmarSenha($event)' class="form-control mb-3" type="password" name="senha" id="senha" placeholder="Crie sua senha">
          </div>

          <div class="form-group">
            <!-- <label for="confirme-senha">Confirme sua senha</label> -->
            <input [(ngModel)]='usuario.senha' class="form-control mb-3" type="password" name="confirme-senha" id="confirme-senha" placeholder="Confirme sua senha">
          </div>


          
          <div class="form-group">
            <!-- <label for="tipo-usuario">Tipo de usuário</label> -->
            <select (change)='tipoUsuario($event)' class="form-control mb-3" name="tipo-usuario" id="tipo-usuario">
              <option>Selecione um tipo de usuário:</option>
              <option value="normal">Normal</option>
              <option value="admin">Administrador</option>
            </select>
          </div>

          <div class="text-center mt-4">
            <button type="submit" class="btn text-black btn-amarelo w-100 my-2 btn-amarelo" (click)='cadastrar()'>Cadastrar</button>
            <button type="submit" class="btn text-black btn-preto text-white w-100 my-2 btn-preto" routerLink='/entrar'>Cancelar</button>
          </div>


        </div>